meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="format-detection", content="telephone=no")

title=TITLE

meta(content=DESCRIPTION, name="description")
meta(content=KEYWORDS, name="keywords")
meta(content=TITLE, property="og:title")
meta(content=DESCRIPTION, property="og:description")
meta(content=DOMAIN + OG, property="og:image")
meta(content=DOMAIN + URL, property="og:url")
meta(content=(KEY == "top" ? "website" : "article"), property="og:type")
meta(content="ja_JP", property="og:locale")
meta(name="twitter:card" content="summary_large_image")
link(rel="icon" type="image/x-icon" href=DIR+"img/common/favicon.ico")
link(rel="apple-touch-icon" href=DIR+"img/common/apple-touch-icon.png")
link(rel="apple-touch-icon" sizes="57x57" href=DIR+"img/common/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="72x72" href=DIR+"img/common/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href=DIR+"img/common/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href=DIR+"img/common/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href=DIR+"img/common/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href=DIR+"img/common/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href=DIR+"img/common/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href=DIR+"img/common/apple-touch-icon-180x180.png")